<h1>Graceland Diner</h1>

<h3>Eat A Burger, Thank You Very Much</h3>

<ul>
	{{#each burgers}}
	<li>
		<p>ID: {{this.ID}}</p>
		<p>Burger: {{this.burger}}</p>
	</li>
	<button class="devour" id={{this.ID}}>Munch</button>
	{{/each}}
</ul>

<form class="create_burger">
	<textarea id="burger_input" type="text"></textarea>

	<button id="submit" type="submit">Submit</button>
</form>