<div class="header jumbotron text-center">
	<h1>Graceland Diner</h1>
	<h3 class="text-center">Eat A Burger, thankyavermuch</h3>
</div>

<div class="wrapper text-center">

	<p class="text-center mx-auto">Enter a burger you want to eat in the form below or click "Munch" to try devour a burger.</p>
	<form class="create_burger  card text-center">
		<textarea id="burger_input" type="text"></textarea>
		<br>
		<button class="btn btn-primary" id="submit" type="submit">Submit</button>
	</form>
	<ul>
		{{#each burgers}}
		<li class="burger_wrapper card text-center">
			<p>#{{this.ID}}</p>
			<p>Burger: {{this.burger}}</p>
			<button class="devour btn btn-primary" id={{this.ID}}>Munch</button>
		</li>

		{{/each}}
	</ul>
</div>